<main data-page="{{page}}">
	{{#if page !== 'home'}}
		<nav>
			<HomeButton />
		</nav>
	{{/if}}

	<slot></slot>
</main>

<style>
	:global(html, body, #sapper) {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	:global(body) {
		font-family: 'Comfortaa', sans-serif;
	}

	main {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		color: white;
	}

	nav {
		padding: 1em;
	}
</style>

<script>
	import 'typeface-comfortaa';

	import HomeButton from './HomeButton.html';

	export default {
		components: {
			HomeButton
		}
	};
</script>
